*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* GENERAL */

.container{
  padding-left: 50px;

}

a{
  text-decoration: none;
}


.cta{
  border: 1px solid white;
  padding: 10px 20px;
  font-size: 0.6rem;
  color: #ffffff;
  font-weight: bold;
  border-radius: 20px;
  
}

.white{
  color:#ffffff;
  font-size: 0.6rem;
  font-weight: bold;
}

body{
  font-family: 'Montserrat', sans-serif;
}


/* UTILITY */

.flex{
  display: flex;
}

.wrap{
  flex-wrap: wrap
}

.justify-content{
  justify-content: space-between;
}

.justify-center{
  justify-content: center;
}

.align-item{
  align-items: center;
}

.columm{
  flex-direction: column;
}

.pd-left{
  padding-left: 10px;
}


/* MAIN */
main{
  height: calc(100vh - 90px);
  background-color: #141922;
  overflow-y: scroll;
}



/* VERTICAL BAR */
nav{
  width: 50px;
  height: calc(100vh - 90px);
  background-color: #000000;
  position: fixed;
  justify-content: center;
}

.vertical-bar{
  display: flex;
  justify-content: space-between;
  
}

.vertical-bar .flex{
  justify-content: flex-start;
  align-items: center;
}

.vertical-bar .flex h5{
  color: #ffffff;
}

.vertical-bar .playlist h5{
  margin-top: 10px;
  margin-bottom: 10px;
}

.vertical-bar .playlist .new-playlist .name-playlist{
  padding-top: 10px;
  color: red;
}

.vertical-bar img{
  width: 20px;
}

.logo-small{
  display: inline-block;
}

.logo-big{
  display: none;
}
.vertical-bar img{
  padding-bottom: 10px;
}

.vertical-bar a:not(.white){
  font-size: 0.6rem;
  color: #85878b;
  font-weight: bold;
}
.size-xs{
  width: 10px;
}

.profile-img{
  background-color: #808080;
  border-radius: 50%;
}

.vertical-bar .logo-big{
  display: none;
  width: 120px;
}

.text-bar{
  display: none;
}

.playlist{
  color: #ffffff;
}

.playlist i{
  background-color: #9b9b9b;
  color: #000000;
  padding: 8px;
  font-size: 20px;
  color: ;
}
/* CTA */
.layer{
  height: 80px;
  width: 100%;
  background-color: rgba(8, 11, 18, 0.9);
  position: sticky;
  top: 0;
  right: 0;
  margin-bottom: 10px;
}

.cta{
  position: absolute;
  right: 0;
  top: 30px;
  
}

/* CATEGORIES MUSIC */
.all-content ul{
  list-style: none;
  justify-content: center;
}

.all-content ul li{
  list-style: none;
  padding-bottom: 20px;
}

.all-content ul li a{
  color: #85878b;
  font-weight: bold;
}

.categories li a{
  font-size: 0.6rem;
  padding: 0px 10px;
  margin-bottom: 40px;
}

/* ALBUM */
.col{
  width: calc(100% / 2);
  /* background-color: antiquewhite; */
  /* border: 1px solid red;       DEBUG DA ELIMINARE */
  padding: 0px 10px 5px 10px;
}

.card{
  /* background-color: aquamarine;  DEBUG DA ELIMINARE */
  height: 100%;
}

.music h3{
  padding-bottom: 20px;
}

.music h3,
.music h5,
.rmg h3,
.rmg h5,
.popular-artists h3,
.popular-artists h5,
.song-description h5{
  color: #ffffff;
}

.music h5,
.music h6,
.rmg h5,
.popular-artists h5{
  text-align: center;
  padding-top: 4px;
}

.music h6,
.rmg h6,
.popular-artists h6,
.song-description h6,
.icons i{
  color: #85878b;
}

.rmg h6,
.popular-artists h6{
  padding-top: 5px;
}

.music .col .card img,
.rmg .col .card img,
.popular-artists .col .card img{
  width: 100%;
}

/* <!-- RANDOM MUSIC GENERATOR --> */
.rmg h3,
.popular-artists{
  padding-top: 40px;
  padding-bottom: px;
}

.rmg h6,
.popular-artists h6{
  padding-bottom: 20px;
}

/* <!-- POPULAR ARTISTS --> */

.popular-artists .col .card img{
  border-radius: 50%;
}



/* <!-- FOOTER: Music Playback Bar --> */

.music-player{
  height: 90px;
  width: 100%;
  background-color:#282828;
  display: flex;
  align-items: center;
  position: fixed;
  padding: 16px;
}

.song-bar{
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  max-width: 25vw;
}

.song-info{
  display: flex;
  align-items: center;
  gap: 16px;
}
.image-container{
  width: 30px;
  flex-shrink: 0;
}

.image-container img{
  width: 100%;
  object-fit: cover;
}

.progress-controller{
  width: 50vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.control-buttons{
  display: flex;
  align-items: center;
  gap: 20px;
}

.play-pause{
  display: inline-block;
  padding: 16px;
  color: black;
  border-radius: 50%;
}

.progress-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.progress-bar{
  height: 4px;
  border-radius: 10px;
  width: 30%;
  background-color: #595959;
}

.progress{
  position: relative;
  height: 100%;
  width: 50%;
  border-radius: 10px;
  background-color: #bfbfbf;
}

.progress-bar:hover .progress{
  background-color: greenyellow;
}

.progress-bar:hover .progress::after{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0;
  top: -5px;
  border-radius: 50%;
  background-color: aqua;
  transform: translate(50%, calc(2px -50%));
}

.right-bar{
  position: absolute;
  right: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.volume-bar{
  display: flex;
  align-items: center;
  gap: 11px;
}

.volume-bar .progress-bar{
  width: 96px;
}

.volume-bar .progress-bar:hover .progress::after{
  width: 15px;
}

.progress-controller i,
.progress-controller span,
.right-bar i{
  color: #ffffff;
}
/* MEDIA QUERY */


  /* S DEVICE */
@media screen and (min-width: 576px){
  .container{
    padding-left: 200px;
  }
  nav{
    width: 200px;
    padding: 10px 16px;
  }
  .layer{
    left: 200px;
  }
  .text-bar{
    display: inline-block;
  }
  .vertical-bar .logo-big{
    display: block;
    width: 120px;
  }
  .logo-small{
    display: none;
  }
  .categories li a{
    justify-content: center;
    align-items: center;
  }
  

}


 /* MD DEVICE */
@media screen and (min-width: 768px){
  .col{
    width: calc(100% / 4);
  }
}



 /* LG DEVICE */
 @media screen and (min-width: 992px){
  .col{
    width: calc(100% / 6);
  }
}